@model IEnumerable<Spot.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h1>Places Management</h1>

@*<a class="btn btn-primary btn-rounded btn-fw" asp-action="Index" asp-controller="Accounts">員工帳號管理</a>*@
<p>
   @* <a class="btn btn-facebook btn-rounded btn-fw" asp-action="Create">Create New</a>*@
</p>
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Places table</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Nation)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.City)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Feature)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Photo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Language)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Currency)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Budget)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Nation)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Feature)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Photo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Language)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Currency)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Budget)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                                                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id"><i class="ti-eye text-primary"></i></a> |
                                                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id"><i class="ti-close text-danger"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/js/data-table.js"></script>

}
